#heading {
color:#00c48d;
}

body {
    padding-top: 90px;
  }

.btn{
background-color:#00c48d;
border:none;
}

a:hover {
    color:#00c48d;
    text-decoration:none;
}

.btn:hover{
background-color:#00c48d;
border:none;
}

a{
color:white;
}

#search_button{
color:white;
font-size: 130%;

}

.page-link{
   color:white;
  background-color: #00c48d;
}

.page-link:hover{
   color:white;
  background-color: #00c48d;
}

.navbar {
    background-color: #00c48d;
    height: 60px;
}

.nav-link{
  color: white;
  position: relative;
  left: 90px;
  font-size: 120%;
}

.navbar-brand{
  position: relative;
  left: 80px;
}

.form-inline{
  position: relative;
  right: 80px;
}

img {
    width: 100%;
}
