#heading {
color:#00c48d;
}


.navbar{
  background-color:#00c48d;
}

.btn:not(.danger){
background-color:#00c48d;
border:none;
}

a:hover {
    color:#00c48d;
    text-decoration:none;
}

.btn:hover:not(.danger){
background-color:#00c48d;
border:none;
}

a{
color:white;
}

.page-link{
   color:white;
  background-color: #00c48d;
}

.page-link:hover{
   color:white;
  background-color: #00c48d;
}


img {
    width: 100%;
}
