{% extends 'posts/base.html' %}
{% block head_title %}
    {{post.title}} | Try Django 1.9
{% endblock head_title %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <h1>{{ post.title }}</h1>
        <p><small>--By: {{ post.author.get_full_name }}</small></p>
        <small class="text-muted"><i class="fa fa-calendar mr-1" aria-hidden="true"></i>{{ post.publish }}</small>

        {% if post.draft %}
            <span style="color:red">Draft</span>
        {% endif %}
        {% if post.image %}
            <img class="card-img-top img-responsive p-1" src="{{post.image.url}}" alt="Card image cap">
        {% endif %}
        <hr>
        <div class="img-content">{{ post.content| safe }}</div>
        <p><div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div></p>
        <hr>
        <div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-width="740" data-numposts="5"></div>
    </div>
</div>
{% endblock content %}


