{% extends 'posts/base.html' %}
{% block content %}
{% if error_msg %}
<div class="row justify-content-center">
  <div class="display-4 pb-5 pt-5">
    {{error_msg}}
  </div>
</div>
{% endif %}
{% if posts %}
    {% for post in posts %}
    <div class="row justify-content-center px-2 mb-3">
    <div class="card shadow" style="width: 50rem;">
        <div class="card-body">
        <p class="card-title text-center pb-1 h2 card-heading"><a id="heading" href="{% url 'posts:detail' slug=post.slug %}">{{ post.title }}</a></p>
            <div class="text-center mb-2"><small class="text-muted mr-3"><i class="fa fa-calendar ml-1 mr-1" aria-hidden="true"></i>{{post.publish}}</small><small class="text-muted ml-3"><i class="fa fa-pencil mr-1" aria-hidden="true"></i>{{ post.author.get_full_name }}</small></div>
        {% if post.image %}
            <img class="card-img-top img-responsive" src="{{post.image.url}}" alt="Card image cap">
        {% endif %}
        <div class="card-text p-2 text-justify img-content">{{ post.description }}</div>
        <a href="{% url 'posts:detail' slug=post.slug %}" class="btn btn-block text-white">Read More</a>
      </div>
    </div>
    </div>
    {% endfor %}
    <div class="row justify-content-center">
        <div class="row">
            <nav aria-label="Page navigation example">
                  <ul class="pagination">
                    <li class="page-item">
                        {% if posts.has_previous %}
                                    <a class="page-link text-dark" href="?page={{ posts.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">&laquo;</a>
                        </a></li>
                        {% else %}
                            <li class="page-item disabled">
                                  <span style="border-top-left-radius: 5px;border-bottom-left-radius: 5px;" class="page-link">&laquo;</span>
                            </li>
                        {% endif %}

                        {% for page_no in posts.paginator.page_range %}
                          {% if page_no == posts.number %}
                            <li class="page-item"><a class="page-link pg-active" href="?page={{page_no}}">{{page_no}}</a></li>
                          {% else %}
                            <li class="page-item"><a class="page-link text-dark" href="?page={{page_no}}">{{page_no}}</a></li>
                          {% endif %}
                        {% endfor %}
                  
                    <li class="page-item">
                        {% if posts.has_next %}
                                    <a class="page-link text-dark" href="?page={{ posts.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">&raquo;</a>
                        </li>
                      {% else %}
                            <li class="page-item disabled">
                                  <span class="page-link">&raquo;</span>
                            </li>
                      {% endif %}
                  </ul>
            </nav>

        </div>
        <br/>

    </div>
    <br/>
{% endif %}
{% endblock content %}

